.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .social-icons {
    flex-basis: 6%;
    display: flex;
    justify-content: space-between;

    a {
      color: #fff;
      font-size: 20px;
      &:hover {
        color: #e6e3e3;
      }
    }
    @media only screen and (max-width: 1400px) {
      flex-basis: 10%;
    }

    @media only screen and (max-width: 768px) {
      flex-basis: 15%;
    }

    @media only screen and (max-width: 576px) {
      width: 22%;
    }
  }

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    row-gap: 10px;
  }
}